* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
html a {
  text-decoration: none;
  color: #389dee;
  transition: all 0.2s ease-in-out;
}
html a:hover {
  color: red;
}
html header {
  background: #3b5998;
  color: white;
  padding: 15px;
}
html header a {
  color: white;
  font-weight: 300;
}
html header .logo-area {
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  margin-right: -5px;
  width: 20%;
}
html header .menu {
  display: inline-block;
  margin-right: -5px;
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: right;
  padding-right: 20px;
  font-size: 14px;
}
html header .menu ul li {
  display: inline-block;
}
html header .menu a {
  margin-right: 20px;
}
html header .icon-links {
  display: inline-block;
  width: 20%;
  padding-left: 40px;
  font-size: 14px;
}
html header .icon-links ul li {
  display: inline-block;
  margin-right: 10px;
}
html header .icon-links .quick-options {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-right: 20px;
}
html header .icon-links .privacy {
  display: inline-block;
  padding-left: 20px;
}
html header .search-area {
  display: inline-block;
  width: 40%;
  margin-right: -5px;
  text-align: right;
  font-size: 14px;
}
html header .search-area ul li {
  display: inline-block;
}
html #top-area {
  padding: 200px 15px 90px 15px;
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html #top-area .profile-info .user-img {
  padding: 10px;
  display: inline-block;
}
html #top-area .profile-info .user-img img {
  border-radius: 50%;
}
html #top-area .profile-info .user-details {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
  padding-left: 20px;
}
html #top-area .profile-info .user-details h3 {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}
html #top-area .profile-info .user-details a {
  display: inline-block;
  margin-left: -4px;
  margin-right: 5%;
  width: 45%;
  text-align: center;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.3);
  transition: background 0.4s ease-in;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 3px;
}
html #top-area .profile-info .user-details a:hover {
  background: #389dee;
}
html #content-area {
  background: #fafafa;
  overflow: auto;
  padding: 50px 0;
}
html #content-area .side-column {
  float: left;
  width: 35%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  max-width: 380px;
}
html #content-area .widget-box {
  padding: 15px;
  background: white;
  margin: 0 0 15px 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 8px -2px #7d7d7d;
  -moz-box-shadow: 0px 4px 8px -2px #7d7d7d;
  box-shadow: 0px 4px 8px -2px #7d7d7d;
  overflow: auto;
}
html #content-area .widget-box .head .widget-icon-container {
  display: inline-block;
}
html #content-area .widget-box .head .widget-icon {
  background: #bfbfbf;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
html #content-area .widget-box .head .widget-icon .fas {
  max-width: 50%;
  font-size: 20px;
}
html #content-area .widget-box .head .widget-title {
  display: inline-block;
  padding-left: 10px;
}
html #content-area .widget-box .img {
  float: left;
  width: 33.33%;
  height: 110px;
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html #content-area .body {
  padding: 20px 0;
}
html #content-area .body h6 {
  margin-bottom: 15px;
}
html .main-area {
  float: left;
  width: 55%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
html .main-area .submenu {
  padding: 0;
  margin: 0 0 20px 0;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 8px -2px #7d7d7d;
  -moz-box-shadow: 0px 4px 8px -2px #7d7d7d;
  box-shadow: 0px 4px 8px -2px #7d7d7d;
  overflow: auto;
}
html .main-area .submenu span {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  text-transform: uppercase;
}
html .main-area .submenu ul {
  padding: 0;
}
html .main-area .submenu ul li {
  margin-right: -5px;
  display: inline-block;
  padding: 10px;
  width: 20%;
  text-align: center;
  border-bottom: 3px solid #fff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
html .main-area .submenu ul li .fas,
html .main-area .submenu ul li .far {
  font-size: 20px;
}
html .main-area .submenu ul li:hover {
  border-bottom: 3px solid #389dee;
  color: #389dee;
}
html .main-area .post .user-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
html .main-area .post .head .user-img {
  display: inline-block;
  margin-right: 10px;
}
html .main-area .post .head .post-info {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
html .main-area .post .head .post-info .user-info {
  display: block;
  font-size: 14px;
  margin: 4px 0 6px 0;
}
html .main-area .post .head .post-info .post-date {
  display: block;
  font-size: 12px;
  color: #afafaf;
}
html .main-area .post .body .post-img img {
  width: 100%;
}
html .main-area .post .body .top-icons {
  color: #afafaf;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
html .main-area .post .body .top-icons .fas {
  font-size: 20px;
}
html .main-area .post .body .top-icons .fa-thumbs-up {
  margin-right: 15px;
}
html .main-area .post .body .top-icons .comment-icon-container {
  float: right;
}
html .main-area .post .body .post-comments {
  background: #eaeaea;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
}
html .main-area .post .body .post-comments .post-user {
  display: inline-block;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: url("../img/post-user.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html .main-area .post .body .post-comments .comments-info {
  display: inline-block;
  vertical-align: top;
  width: 87%;
  font-size: 14px;
}
html .main-area .post .body .post-comments .comments-info .time {
  color: #afafaf;
  font-size: 10px;
  float: right;
}
html .main-area .post .body p {
  padding: 0;
  margin-top: 10px;
}
html .main-area .post .body .post-form {
  margin-top: 15px;
  width: 100%;
}
html .main-area .post .body .post-form .user-img {
  display: inline-block;
  margin-right: 10px;
}
html .main-area .post .body .post-form .form-info {
  display: inline-block;
  vertical-align: top;
  width: 89%;
  font-size: 14px;
  border-bottom: solid #eaeaea;
}
html .main-area .post .body .post-form input {
  display: inline-block;
  width: 80%;
  border: 0 solid white;
  padding: 10px;
  font-size: 18px;
}
html .main-area .post .body .post-form input:focus {
  outline: none;
}
html .main-area .post .body .post-form .icons {
  float: right;
  color: #afafaf;
  width: 15%;
  padding: 10px;
}
html .main-area .post .body .post-form .icons .fas,
html .main-area .post .body .post-form .icons .far {
  font-size: 20px;
}
html .main-area .post .body .post-form .icons .fa-smile {
  float: right;
}

/*# sourceMappingURL=main.css.map */
